$globale-color: #212529;
$font-size-smile:14px;
$font-size-normal:16px;
$font-size-big:24px;
$font-size-veryBig:36px;
$font-size-user:22px;

$font-weight400:400;
$font-weight500:500;
$font-weight600:600;

$color-light-blue:#0062C7;
$color-blue:#00468E;
$color-dark-blue:#01356A;
$color-dark-red:#B30015;
$color-red:#E2001A;
$color-dark:#212529;
$color-white:#FFFFFF;
$color-grey:#7B7B7B;